extends layout.pug 

block content
    h1 秘密の匿名掲示板
    a.btn.btn-info(href="/logout") ログアウト 
    h2 新規投稿
    form(action="/posts/add", method="post")
      div.form-group
        textarea.form-control(name="content", rows="4")
      div.form-group
        button.btn.btn-primary(type="submit") 投稿
    h2 投稿一覧
    block postCards
