extends postslayout.pug

block postCards
  each post in posts
    div.card.my-3
      div.card-header
        p #{post.id} : #{post.postedBy}
      div.card-body
        p #{post.content}
      div.card-footer
        p #{post.postedBy}
        form(action="/posts/delete", method="post")
          button.btn.btn-danger(type="submit") 削除
