extends postslayout.pug

block postCards
  each post in posts
    div.card.my-3
      div.card-header
        p #{post.id} : #{post.name}
      div.card-body
        p #{post.content}
      div.card-footer
        p #{post.date}
